.client-images img {
    opacity: 1 !important;
    width: 200px;
  }
  .bg-color{
    background-color: rgb(9, 170, 4);
}
.font-style-1{
    font-size: 3.75em;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(12, 66, 82);
    padding-left: 200px;
    padding-right: 200px;
}
.bg-color-blue{
    background-color: rgb(20, 143, 119);
}
.size-section-1{
    height: 150px;
}
.heading-1{
    font-size:1.5em;
    color: white;
    line-height: 1;
    // display: flex;
    align-content: center;
    padding-top: 60px;
}
.margin-bot-100{
    margin-top: 20px;
    margin-bottom: 50px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .button5:hover {
    background-color: #555555;
    color: white;
  }
  .abcd{
      margin-top: 100px;

  }
  
  .carousel-image{
    max-height: 10rem;
  }