<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/"><img class="logo-img" src="../../assets/images/logo1.png" alt="Logo">SHOPPZOID</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart"><strong style="color: rgb(245, 35, 70);"> {{totalItems}}</strong><span class="cart-icon"><i class="fas fa-cart-plus"></i></span>Cart</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li ngbDropdown *ngIf="loggedIn" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{loggedInUser}}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/my-orders">My Orders</a>
            <a *ngIf="isAdmin" class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
            <div class="dropdown-divider"></div>
            <a *ngIf="isAdmin" class="dropdown-item" routerLink="/admin/products">Manange Products</a>
          </div>
        </li>
        <li *ngIf="!loggedIn" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a class="nav-link">{{loggedInUser| slice : 0  : 1 }}</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
      

    </div>
  </nav>