<app-navbar></app-navbar>
<div class="bootstrap-wrapper mx-3">
    <div class="container-fluid mt">

        <div class="row">
            <div class="col-md-6 text-center mx-auto my-auto">
                <!-- <div class="container text-center">
                    <img src="../../assets/images/login.jpg" class="img-fluid">
                </div> -->
                <p class="login-heading">Welcome Back :)</p>
                <p class="login-desc">To keep connected with us please login with your personal information by username and password.</p>

                <form (ngSubmit)="onSubmit()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label> Username</mat-label>
                        <input #uname="ngModel" [(ngModel)]="credentials.username" name="username" required type="text" matInput>
                    </mat-form-field>
                    <div class="alert alert-danger" *ngIf="uname.touched && uname.invalid">
                        Username is required
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label> Password</mat-label>
                        <input #pwd="ngModel" [(ngModel)]="credentials.password" name="password" required type="password" matInput>
                    </mat-form-field>
                    <div class="alert alert-danger" *ngIf="pwd.touched && pwd.invalid">
                        Password is required
                    </div>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Login</button>
                        <button style="margin-left: 10px;" type="reset" mat-raised-button color="warn">Reset</button>
                    </div>
                </form>

                {{credentials|json}}
                <!-- <div class="container text-center">
                    <img src="../../assets/images/template.svg" class="img-fluid">
                </div> -->
            </div>
            <div>
                <p>Don't have an account</p>
                <a routerLink="/register">Register Now</a>
            </div>
            <!-- <div class="col-md-6">
                <div class="imgBx">
                    <img src="../../assets/images/login2.jpg" alt="Image-bg">
                </div>
                <div class="contentBx">
                    LOGIN

                </div>
            </div> -->
        </div>
    </div>
</div>