<div>
    <div class="list-group">
        <a
          class="list-group-item list-group-item-action"
          [class.active]="!category"
          routerLink="/products"
          >All Categories</a
        >
        <a
          *ngFor="let c of categories"
          class="list-group-item list-group-item-action"
          routerLink="/products"
          [queryParams]="{ category: c.categoryName }"
          [class.active]="category === c.categoryName"
        >
          {{ c.categoryName }}
        </a>
      </div>
</div>
